.recipe {
    border: 2px solid black;
    border-radius: 4px;
    /*background-color: #4EC5C1;*/
    background-color: white;
    padding-bottom: 12px;
    margin-bottom: 12px !important;
}

@media only screen and (min-width: 360px) {
    .recipe-pic {
        height: 180px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }
}

.recipe-pic {
    max-height: 180px;
    max-width: 180px;
    object-fit: fill;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 24px;
    border: 1px solid black;
    padding-left: 0 !important;
    padding: 0 !important;
    border-radius: 8px;
}

.recipe .recipe-pic {
    display: flex;
    align-items: center;
}


.recipe-label-container {
    text-align: center;
    display: table;
}

.recipe-label {
    display: block;
    vertical-align: middle;
    padding: 0px  24px;
}

.recipe-search-controls {
    display: flex;
    justify-content: space-around;
}


.recipe-button {
    font-family: 'Mali', cursive;
    background-color: white;
    border: 2px solid black;
    height: 62px;
    margin-top: 24px;
    -webkit-transform: font-size 1s;
    -webkit-transform: background-color 1s;
    -webkit-transform: color 1s;

}


.recipe-button:hover {
    font-size:1.1em;
    background-color: #EC576B;
    color: white;
}

.list-ingredient {
    list-style-type: circle;
}

@media only screen and (min-width: 360px) {
    .recipe-pic {
        height: 180px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }
}
