.form-error {
    color: red;
    font-size: .8em;
}

.login-form {
    margin-top: 12px;
}

#landing-login-button {
    width: 90%;
    font-size: 16px;
}

#sign-up-form-button {
    width: 90%;
    font-size: 16px;
}

#password, #username, #passwordConfirm {
    border-radius: 4px;
    height: 28px;
    border: 1px solid black;
    padding: 6px;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    -webkit-transition: font-size 2s;
}

form.login-form button:hover {
    font-size:1.2em;
    font-weight: bold;
}


